*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: larger;
    color: white;
    background-color: green;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 10px auto;
    h3{
        font-size: 30px;
        color: green;
        margin: 0 5vh;
    }
    h1{
        width: 100%;
        text-align: center;
        font-size: 50px;
        margin-bottom: 7vh;
    }
    .trollers{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .troller{
            width: 35%;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border: 2px solid rgba($color: black, $alpha: 0.3);
            border-radius: 30px;
            margin-bottom: 40px;
            .name-id{
                display: flex;
                flex-direction: column;
                h4{
                    text-transform: uppercase;
                }
            }
            .radio-box{
                visibility: hidden;
                position: absolute;
            }
        }
        .faBars{
            border: 1px solid black;
            padding: 1px;
        }

        .troller:has(>.radio-box:checked){
            border-color: rgba($color: green, $alpha: 1.0);
        }
    }
    .submit{
        cursor: pointer;
        margin: 40px auto;
        width: 10vw;
        height: 40px;
        background-color: #FFA705;
        border: 0px;
        border-radius: 20px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
    }
}

.footer{
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: larger;
    color: white;
    background-color: green;
}