.footer {
    display: flex;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    height: 5em;
    width: 100vw;
    background-color: green;
}
.text1{
    position: absolute;
width: 300px;
height: 100px;
left: 5%;
top: 20%;



font-weight: 400;
font-size: 30px;
line-height: 60px;

color:#FFFFFF;


}
.text2{
    position: absolute;
width: 300px;
height: 100px;
left: 40%;
top: 20%;



font-weight: 400;
font-size: 30px;
line-height: 60px;

color:#FFFFFF;


}
.text3{
    position: absolute;
    width: 300px;
    height: 100px;
left: 80%;
top: 20%;



font-weight: 400;
font-size: 30px;
line-height: 60px;

color:#FFFFFF;


}